<!-- Fat footer -->
<footer class="footer row justify-content-center p-xl-5 p-md-4 p-2">
  <div class="col-xl-7 col-md-12 col-12 order-xl-1 order-2">
    <div class="row mb-4 mt-xl-0 mt-3">
      <div class="d-flex gap-xl-5 gap-md-3 gap-2 flex-column flex-xl-row">
        <span
          class="footer-brand border-end-0 border-md-end pe-0 pe-md-3 pe-xl-5"
          >Bambuddy</span
        >
        <span class="footer-img"
          ><img class="footer-img" src="/img/RMIT Logo.png"</span
        >
      </div>
    </div>
    <div class="row pe-xl-5 me-xl-5 me-md-2 pe-md-2 pe-0 me-0">
      <p class="footer-brand-description">
        Bambuddy is Vietnam's premier platform connecting international
        travelers with certified local guides for authentic, personalized travel
        experiences. We believe that the best way to explore Vietnam is through
        meaningful connections with local communities, creating memories that
        last a lifetime while supporting sustainable tourism practices.
      </p>
    </div>
  </div>
  <div class="footer-menu col-xl-5 col-md-12 col-12 order-xl-2 order-1">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4 col-xl-4">
        <div class="footer-menu-title mb-xl-4 mb-md-3 mb-2">Services</div>
        <div>
          <a href="/discover" class="footer-menu-item">For travelers</a>
        </div>
        <div>
          <a href="/guide/dashboard" class="footer-menu-item"
            >For Tour Guides</a
          >
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-xl-4">
        <div class="footer-menu-title mb-xl-4 mb-md-3 mb-2">Community</div>
        <div><a href="/threads" class="footer-menu-item">Forum</a></div>
        <div>
          <a href="/threads/my-posts" class="footer-menu-item">Manage Post</a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-xl-4">
        <div class="footer-menu-title mb-xl-4 mb-md-3 mb-2">Contact</div>
        <div><a href="/aboutUs" class="footer-menu-item">Our Teams</a></div>
        <div><a href="/sitemap" class="footer-menu-item">Site Map</a></div>
      </div>
    </div>
  </div>
</footer>
